.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  height: 100%;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 350px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
